[report]
omit =
    pyro/docutil.py
    pyro/logger.py
exclude_lines =
    pragma: no cover
    def backward
    raise AssertionError
    raise NotImplementedError
    raise ValueError
    except NotImplementedError
    except ImportError
    except KeyError
    except TypeError
    warnings\.warn.*
    warn_if.*
    if __name__ == .__main__.:
