language: python
python:
    - 2.7
    - 3.5

sudo: required

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install libblas-dev liblapack-dev libatlas-base-dev gfortran

install:
    # this will be in setup.py
    - pip install numpy scipy cloudpickle visdom
    # install pytorch and its dependencies
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
          pip install http://download.pytorch.org/whl/cu75/torch-0.2.0.post2-cp27-cp27mu-manylinux1_x86_64.whl;
      else
          pip install http://download.pytorch.org/whl/cu75/torch-0.2.0.post2-cp35-cp35m-manylinux1_x86_64.whl;
      fi
    - pip install torchvision

script:
    - PYTHONPATH=$PWD:$PYTHONPATH ./tests/run_tests.sh

matrix:
    fast_finish: true
    include:
        env: LINT_CHECK
        python: "2.7"
        addons: true
        install: pip install flake8
        script: flake8
