language: python

sudo: required

env:
    global:
        - PYTHONPATH=$PWD:$PYTHONPATH

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install libblas-dev liblapack-dev libatlas-base-dev gfortran

install:
    # this will be in setup.py
    - pip install numpy scipy cloudpickle funcy graphviz networkx visdom
    # install test dependencies
    - pip install pytest pytest-cov flake8 nbval
    # install pytorch and its dependencies
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
          pip install http://download.pytorch.org/whl/cu75/torch-0.2.0.post2-cp27-cp27mu-manylinux1_x86_64.whl;
      else
          pip install http://download.pytorch.org/whl/cu75/torch-0.2.0.post2-cp35-cp35m-manylinux1_x86_64.whl;
      fi
    - pip install torchvision
    - pip freeze

branches:
    only:
        - master
        - dev

jobs:
    fast_finish: true
    include:
        - stage: lint
          python: 2.7
          before_install: pip install flake8
          install:
          script: make lint
        - stage: unit test
          python: 2.7
          env: STAGE=docs
          script: 
              - pip install -r docs/requirements.txt
              - make docs
        - python: 2.7
          env: STAGE=unit
          script: pytest -vs --cov=pyro --stage unit
        - python: 2.7
          env: STAGE=examples
          script: pytest -vs --cov=pyro --stage test_examples
        - python: 3.5
          env: STAGE=unit
          script: pytest -vs --cov=pyro --stage unit
        - python: 3.5
          env: STAGE=examples
          script: pytest -vs --cov=pyro --stage test_examples
        - python: 2.7
          env: STAGE=tutorials
          script: pytest -v --nbval tutorial/
        - stage: integration test
          python: 2.7
          env: STAGE=integration_batch_1
          script: pytest -vs --cov=pyro --stage integration_batch_1
        - python: 2.7
          env: STAGE=integration_batch_2
          script: pytest -vs --cov=pyro --stage integration_batch_2
        - python: 3.5
          env: STAGE=integration_batch_1
          script: pytest -vs --cov=pyro --stage integration_batch_1
        - python: 3.5
          env: STAGE=integration_batch_2
          script: pytest -vs --cov=pyro --stage integration_batch_2
    allow_failures:
        - python: 2.7
          env: STAGE=tutorials
          script: pytest -v --nbval tutorial/
