# Copyright Contributors to the Pyro project.
#
# SPDX-License-Identifier: Apache-2.0

sphinx==4.2.0
sphinx-rtd-theme==1.0.0
graphviz>=0.8
numpy>=1.7
observations>=0.1.4
opt_einsum>=2.3.2
pyro-api>=0.1.1
tqdm>=4.36
funsor[torch]
setuptools
sphinx_copybutton
